env
.env
*.session
*.pyc
AkiraS.session-journal
stealsticker.webp
AkiraS.session-shm
AkiraS.session-wal
image.jpg
API/YouTube/credentials.json
API/YouTube/youtube_token.pickle
API/YouTube/calendar_token.pickle
