env
.env
*.session
*.pyc
AkiraS.session-journal
stealsticker.webp
AkiraS.session-shm
AkiraS.session-wal
image.jpg
revise.jpg
/revise/blacklist
API/Google/google_token.pickle
API/Google/google_credentials.json
API/Google/google_vision_credentials.json
downloads/user_photo.jpg
