pyrotgfork
tgcrypto
Pillow
motor
python-dotenv
graphqlclient
APScheduler
pytz
aiohttp
six
asyncio
deep-translator
colorama
html2text
#google-generativeai
#google-cloud-vision
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
py-tgcalls
groq