https://github.com/TelegramPlayGround/pyrogram/archive/unknown_errors.zip
tgcrypto
Pillow
pymongo
graphqlclient
APScheduler
pytz
requests
six
asyncio
#flask
#pyngrok
#waitress
google-generativeai
deep-translator
colorama
html2text